# Python cache
__pycache__/

# Outputs and logs of MLflow
mlruns/
mlruns_aws/
outputs/
mlflow/
mlflow_aws/

.env
.envrc
.tmp.drivedownload/
.tmp.driveupload/
key.pem
multirun/
tmp_data
tmp_experiment/